<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h1>Your City is {{city}} and Zip is {{zip}}.</h1>
   <h2>Current temperature is {{temp}}. Max temperature: {{max_temp}} Min temperature : {{min_temp}} But it feels like {{feels_like}} (Temperature is in degrees)</h2>
   <h2> Pressure is {{pressure}} and Humidity is {{humidity}}.</h2>
   <small>Daily Driver Team</small>
</body>
</html>