{% extends 'base.html' %}
{% block title %} Profile {% endblock title %}
{% load crispy_forms_tags %}
{% block body %}
<div class="container" style="padding-top: 50px;">
 <div  style="background: linear-gradient(to top right, #ccffcc 0%, #ffff00 100%);border-radius: 10px;box-shadow: 10px 10px 5px grey;">
    <div class="row">
      <div class="col-lg-6 col-md-12" style="background-color: white;">
        <div class="about-image">
        <center>
          <img style="width:80%;" src="media/profile_update.png" alt="About us" class="img-fluid" >
        </center>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 about-title">
        <center>
          <h2 class="text-uppercase pt-5" style="font-family: 'Playfair Display', serif;">
            <span>Update Profile!</span>
            
          </h2>
          <div class="paragraph py w-75">
    <form action="/profile" method="post" enctype='multipart/form-data'>
    {% csrf_token %}
     <fieldset class="form-group">
            <legend class="border-bottom mb-4"></legend>
    {{ u_form|crispy }}
    {{ p_form|crispy }}
    </fieldset>
        <div class="form-group">
          <br>
            <button class="btn btn-outline-info" type="submit">Update Profile</button>
            <small class="text-muted ml-2">
            </small>

        </div>
    </form>
          

        
    </div>
  </div>
{% endblock body %}